
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{.PageTitle}}</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<h2><a href="/">Home</a></h2>
	<h2><a href="/view">View</a></h2>
	<h2><a href="/admin">Admin</a></h2>
	
	
	<div class="container-fluid">

Welcome User {{.UserName}}<br>
	
	</div>
</body>
<footer>
    
</footer>
</html>
